.DashboardPageBcg {
  background-image: url(../../utils/images/ellipse-violet.png),
    url(../../utils/images/ellipse-peach.png);

  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  background-color: #e7eaf2;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  font-family: Circe;
}
.test {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
}

.DisplayedElemContainer {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .DashboardPageBcg {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}

@media (min-width: 1028px) {
  .DashboardPageBcg {
    overflow: hidden;
  }
  .test {
    height: 100%;
  }
  .DashboardPage {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
  }

  .HomeTabContainer {
    flex-basis: 37%;
    border-right: 1px solid #e7e5f2;

    filter: drop-shadow(1px 0px 0px rgba(255, 255, 255, 0.6))
      drop-shadow(-1px 0px 0px rgba(0, 0, 0, 0.05));
  }

  .DisplayedElemContainer {
    max-height: 60vh;
    padding: 46px 16px 46px 69px;
    flex-basis: 63%;
    overflow-y: auto;
  }
}
