.addButton {
  background-color: #24cca7;
  border-radius: 42px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Georgia;
  font-size: 6px;
  font-style: italic;
  padding: 15px 15px;
  text-decoration: none;
  border: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

.modalcontainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalcontent {
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.switchButton {
  display: flex;
}
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalForm {
  display: flex;
}
.inputFormSelect {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 99%;
  margin-top: 20px;
  outline: none;
  font-size: 15px;
  padding: 18px;
}
.inputForm {
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 90%;
  margin-top: 40px;
  font-size: 15px;
  padding: 18px;
}
.inputForm:hover,
.inputForm:focus {
  border-color: #24cca7;
  outline: none;
}

.inputFormComment {
  margin-top: 40px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 90%;
  padding: 18px;
  font-size: 15px;
  resize: none;
}
.inputFormComment:hover,
.inputFormComment:focus {
  border-color: #24cca7;
  outline: none;
}

.form-control {
  border: none;
}

.buttonADD {
  border: none;
  padding: 20px;
  background-color: #24cca7;
  width: 92%;
  border-radius: 30px;
  color: #ffffff;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 15px;
}

.buttonCancel {
  border: 1px SOLID #4a56e2;
  padding: 20px;
  background-color: #ffffff;
  width: 92%;
  margin-left: 15px;
  border-radius: 30px;
  color: #4a56e2;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.closebutton {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  display: none;
}
.title {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  font-size: 30px;
  margin-top: 0px;
}
.switchButton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.switchtext {
  color: #e0e0e0;
}
.formatDate {
  margin-top: 40px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  width: 90%;
  padding: 18px;
  font-size: 15px;
  resize: none;
}
.switchEdit {
  background-color: none;
  color: #ffffff;
  box-shadow: none;
}

@media (min-width: 768px) {
  .modalcontent {
    padding: 20px;
    width: 40%;
    height: 73%;
  }
  .closebutton {
    display: flex;
    justify-content: flex-end;
  }
  .headernone {
    display: none;
  }
}

@media (min-width: 1280px) {
  .modalcontent {
    width: 35%;
    height: 72%;
  }
}
