.MenuContainer {
  width: 100%;
}
.ButtonsList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.ButtonsList button {
  background-color: #6e78e8;
  border: none;
  border-radius: 5px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  }
}

button .Icon {
  color: white;
  font-size: 40px;
}

@media (min-width: 768px) {
  .ButtonsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .ButtonsList button {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    position: relative;

    &::after {
      content: attr(data-label);
      position: absolute;
      color: black;
      left: 40px;
      font-weight: 400;
      font-family: 'Poppins';
      font-size: 18px;
    }
  }

  button .Icon {
    font-size: 20px;
  }
}
